append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/item.min.css')

h2 Buy Power

.ui.segment.no-segment
    .ui.divided.items
        .item
            a.image.myAdsList(href='/detail/{{ ad.slug }}/{{ ad._id }}', target="_blank")
                img(ng-src='{{ amazon_base_url }}/{{ ad.photos[ad.photoShowcaseIndex].filename }}', ng-show="{{ ad.photos !== null }}")
                img(ng-src='/img/no-photo.png', ng-show="{{ ad.photos === null }}")
            .content
                a.header(href='/detail/{{ ad.slug }}/{{ ad._id }}' , target="_blank")
                    | {{ ad.title }}
                .meta
                    h5.cinema ${{ad.price}}
                .description
                    p
                .extra
                    .ui.label(
                    ng-class="{red: ad.status===2 || ad.status === 4, orange: ad.status === 0}"
                    )
                        | {{ ad.statusText }}

                    div.margin-top-10(ng-show="ad.totalActivePower > 0")
                        h4
                            i.ui.rocket.icon
                            | {{ ad.totalActivePower }}

    div.text-center
        h1 Power Up!

        div(ng-show="buyPowerStatus")
            .ui.success.message
                .header
                    | You Bought Power

        .ui.segment.no-segment(ng-show="!buyPowerStatus")
            p
                | For show your ad in the best place you can buy power.
                br
                | Each power price is 10 Euro
            form.ui.form
                .field.text-center
                    select.powerNumber(
                    style="width:50%; display:inline-block",
                    name='powernumber',
                    ng-model="powerNumber",
                    ng-change="update(id);",
                    ng-options="n for n in []  | range:1:101"
                    )
                        option(value='0') Please Select

                    div.margin-top-10(ng-show="powerNumber > 0")
                        h3 {{ powerNumber * 10 | number:2 }} EUR

                    .clearfix
                    button.ui.primary.button.margin-top-10#buttonCheckout Buy Power

            .ui.dimmer(ng-class="{ active: buyPowerLoader }")
                .ui.loader

.ui.dimmer(ng-class="{active: loadingAd}")
    .ui.loader
