h2 {{ i18n_buyPower_title }}

.ui.segment.no-segment
    .ui.divided.items
        .item
            a.image.myAdsList(href='/detail/{{ ad.slug }}/{{ ad._id }}', target="_blank")
                img(ng-src='{{ amazon_base_url }}/{{ ad.photos[ad.photoShowcaseIndex].filename }}', ng-show="{{ ad.photos !== null }}")
                img(ng-src='/img/no-photo.png', ng-show="{{ ad.photos === null }}")
            .content
                a.header(href='/detail/{{ ad.slug }}/{{ ad._id }}' , target="_blank")
                    | {{ ad.title }}
                .description
                    p
                .extra
                    .ui.label(
                    ng-class="{red: ad.status===2 || ad.status === 4, orange: ad.status === 0}"
                    )
                        | {{ ad.statusText }}

                    div.margin-top-10(ng-show="ad.totalActivePower > 0")
                        h4
                            i.ui.rocket.icon
                            | {{ ad.totalActivePower }}

    div.text-center
        h1 Power Up!

        div(ng-show="buyPowerStatus")
            .ui.success.message
                .header
                    | {{ i18n_bought_power_message }}

        .ui.segment.no-segment(ng-show="!buyPowerStatus")
            p
                | {{ i18n_power_up_text1 }}
                br
                | {{ i18n_power_up_text2 }}
            form.ui.form
                .field.text-center
                    select.powerNumber(
                        style="width:50%; display:inline-block",
                        name='powernumber',
                        ng-model="power",
                        ng-options="n for n in []  | range:1:101"
                    )
                        option(value='0') Please Select

                    div.margin-top-10(ng-show="power > 0")
                        h3 {{ power * 10 | number:2 }} EUR

                    .clearfix
                    button.ui.primary.button.margin-top-10#buttonCheckout {{ i18n_buy_power_btn }}

            .ui.dimmer(ng-class="{ active: buyPowerLoader }")
                .ui.loader

.ui.dimmer(ng-class="{active: loadingAd}")
    .ui.loader
