append stylesheets
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/comment.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/input.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/item.min.css')
    link(rel='stylesheet', type='text/css', href='/dist/css/messages.css')

h2.ui.dividing.header(ng-if="conversations.length > 0") {{ i18n_favTitle }}
h2.text-center(ng-if="conversations.length < 1") {{ i18n_no_results }}

.ui.stackable.two.column.grid(ng-show="conversations.length > 0")
    .five.wide.column
        .ui.segment.no-segment
            .ui.vertical.menu
                .item
                    .ui.transparent.icon.input
                        input(type='text', placeholder='{{ i18n_searchPlaceholder }}', ng-model='search')
                        i.search.icon

                a.item(
                        ng-repeat="conversation in conversations | filter:search",
                        href="#!/messages/{{ conversation._id }}"
                    )
                    | {{ conversation.ad.title | limitTo: 20 }} {{ conversation.ad.title.length > 20 ? '...' : ''}}
                    i.ui.icon.red.circle(ng-show="conversation.unreadMessageCount > 0")
        .ui.dimmer(ng-class="{ active: loadingConversations }")
            .ui.loader

    .eleven.wide.column
        div(ng-show="visibleMessages")
            .ui.items
                .item
                    a.image(href="./detail/{{ ad.slug }}/{{ ad.id }}", target="_blank")
                        img(src='{{ amazon_base_url }}/{{ ad.showcasePhoto }}')
                    .content
                        a.header(href="./detail/{{ ad.slug }}/{{ ad.id }}", target="_blank") {{ ad.title }}
                        .meta
                            span {{ ad.price | currency }}
            hr(style="border:solid 1px #f1f1f1")
            .ui.segment.no-segment
                .ui.comments#messageList
                    .comment(ng-repeat="message in messages")
                        .content
                            a.author {{ message.user.name }} {{ message.user.surname }}
                            .metadata
                                span.date(am-time-ago='message.createdAt')
                            .text
                                | {{ message.message }}
                form.ui.reply.form
                    input(
                        type="hidden",
                        ng-model="sendMessageFormData.conversationId",
                    )
                    input(
                        type="hidden",
                        ng-model="sendMessageFormData.toUserId",
                    )
                    input(
                        type="hidden",
                        ng-model="sendMessageFormData.username",
                        ng-init="sendMessageFormData.username= '#{user.name}'"
                    )
                    input(
                        type="hidden",
                        ng-model="sendMessageFormData.surname",
                        ng-init="sendMessageFormData.surname= '#{user.surname}'"
                    )

                    .field
                        textarea(
                            ng-model="sendMessageFormData.message"
                        )
                    .ui.right.floated.primary.submit.button(
                        form="sendMessageForm",
                        ng-class="sendMessageLoading ? 'loading disabled' : '' ",
                        ng-click="sendMessage()"
                    )
                        |  Submit

    .ui.dimmer(ng-class="{ active: loadingMessages }")
        .ui.loader
