append stylesheets
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/comment.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/input.min.css')

h2.ui.dividing.header Messages

.ui.stackable.two.column.grid
    .five.wide.column
        .ui.segment.no-segment
            .ui.vertical.menu
                .item
                    .ui.transparent.icon.input
                        input(type='text', placeholder='Search')
                        i.search.icon

                a.item(
                        ng-repeat="conversation in conversations",
                        href="#!/messages/{{ conversation._id }}"
                    )
                    strong
                        | {{ conversation.ad.title | limitTo: 20 }} {{ conversation.ad.title.length > 20 ? '...' : ''}}
                    br
                    | {{ conversation.user.name | limitTo: 20 }} {{ conversation.user.surname }}
        .ui.active.dimmer(ng-class="{ disabled: !loadingConversations }")
            .ui.loader

    .eleven.wide.column
        .ui.segment.no-segment(ng-show="visibleMessages", ng-cloak)
            .ui.comments(style="min-height:200px")
                .comment(ng-repeat="message in messages")
                    .content
                        a.author {{ message.user.name }} {{ message.user.surname }}
                        .metadata
                            span.date(am-time-ago='message.createdAt')
                        .text
                            | {{ message.message }}
                form.ui.reply.form
                    input(
                        type="hidden",
                        ng-model="sendMessageFormData.conversationId",
                    )
                    .field
                        textarea(
                            ng-model="sendMessageFormData.message"
                        )
                    .ui.right.floated.primary.submit.button(
                        form="sendMessageForm",
                        ng-class="sendMessageLoading ? 'loading disabled' : '' ",
                        ng-click="sendMessage()"
                    )
                        |  Submit

        .ui.dimmer(ng-class="{ active: loadingMessages }")
            .ui.loader
