.ui.inverted.vertical.footer.segment#footer
    .ui.center.aligned.container
        #social.ui.horizontal.inverted.small.divided.link.list
            a.item(href='#')
                i.facebook.f.big.icon
            a.item.no-border(href='/contact')
                i.twitter.big.icon
            a.item.no-border(href='/terms')
                i.google.plus.big.icon


        .ui.stackable.inverted.divided.grid
            .three.wide.column
                h4.ui.inverted.header #{i18n.__( "language" )}
                .ui.inverted.link.list
                    a.item(href='/en')
                        i.gb.flag
                        | English
                    a.item(href='/tr')
                        i.tr.flag
                        | Türkçe
                    a.item(href='/es')
                        i.es.flag
                        | Español
            .three.wide.column
                h4.ui.inverted.header #{i18n.__( "about" )}
                .ui.inverted.link.list
                    a.item(href='#') #{i18n.__( "about_nemofila" )}
                    a.item(href='#') #{i18n.__( "our_blog" )}
                    a.item(href='/termofuse') #{i18n.__( "term_of_use" )}
                    a.item(href='#') #{i18n.__( "how_nemofila_works" )}
                    a.item(href='/services') #{i18n.__( "our_services" )}
                    a.item(href='#') #{i18n.__( "privacy_policy" )}
                    a.item(href='/contact') #{i18n.__( "contact_us" )}
            .three.wide.column
                h4.ui.inverted.header #{i18n.__("business_owners")}
                .ui.inverted.link.list
                    a.item(href='#') #{i18n.__("how_create_an_ad")}
                    a.item(href="/newAd") #{i18n.__("create_your_ad")}
                    a.item(href='#') #{i18n.__("blog_flor_business_owners")}
                    a.item(href='#') #{i18n.__("business_success_stories")}
                    a.item(href='#') #{i18n.__("if_your_business_is_not_here")}
                button.ui.orange.button#subscribe(ng-click="openSubscribeModal()") #{i18n.__( "subscribe" )}


            .seven.wide.column
                iframe( src='https://www.youtube.com/embed/KLKrKQFgq00', width="100%", height="200px" frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')


        .ui.inverted.section.divider
        img.ui.centered.mini.image(src='/img/nemofila.png')
    //
        .ui.horizontal.inverted.small.divided.link.list
            a.item(href='/services') Services
            a.item(href='/contact') Contact Us
            a.item(href='/terms') Terms and Conditions
