extends layout

append stylesheets

block content
    div(ng-controller="contactController")
        .ui.icon.positive.message.margin-30(ng-show="messageSended", ng-cloak)
            i.send.icon
            .content
                .header
                    | #{i18n.__("your_message_sended")}
                p
                    | #{i18n.__("we_will_contact_you")}



        form.ui.form#contactForm(ng-hide="messageSended")
            .ui.two.fields
                .field
                    label #{i18n.__("full_name")}
                    input(name='name', ng-model="contactForm.name", placeholder='#{i18n.__("full_name")}')
                .field
                    label #{i18n.__("email")}
                    input(name='email', ng-model="contactForm.email", placeholder='#{i18n.__("email")}')

            .field
                label #{i18n.__( "subject" )}
                input(name='subject', ng-model="contactForm.subject", placeholder='#{i18n.__( "subject" )}')
            .field
                label #{i18n.__("your_message")}
                textarea(name='message', ng-model="contactForm.message", placeholder='#{i18n.__("your_message")}')
            .g-recaptcha(
                vc-recaptcha,
                key="'#{ recaptcha_site_key }'",
                on-success="successCaptcha(response)"
            )
            button.ui.primary.right.floated.button(
                ng-class="{ loading: loadingContact, disabled: loadingContact, disabled: !activeSubmitBtn }"
            ) Submit

            .clearfix
            .ui.icon.negative.message.margin-30(ng-show="error", ng-cloak)
                .content
                    .header
                        | {{ error }}
append javascripts
    script(src="/dist/js/app/services/contactFactory.min.js")
    script(src="dist/js/app/controllers/contactController.min.js")
