extends layout

append meta_tags
    meta(name='description', content='#{ data.description.substr(0, 300) }')

    // social meta tags
    meta(property='og:title', content='#{ data.title }')
    meta(property='og:description', content='#{ data.description.substr(0, 300) }')
    meta(property='og:url', content='#{ url }')
    - if (data.photos)
        meta(property='og:image', content='#{ amazon_base_url }/#{ data.photos[data.photoShowcaseIndex].filename }')


append stylesheets
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/button.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/popup.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/breadcrumb.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/table.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/rating.min.css')
    link(rel='old stylesheet', href='/ng-image-gallery/dist/ng-image-gallery.min.css')
    link(rel='stylesheet', type='text/css', href='/dist/css/style.css')
    link(rel='stylesheet', type='text/css', href='/dist/css/detail.css')
    link(rel='stylesheet', type='text/css', href='/owl.carousel/dist/assets/owl.carousel.min.css')
    link(rel='stylesheet', type='text/css', href='/owl.carousel/dist/assets/owl.theme.default.min.css')

block content
    - var sessionId;
    - if (session)
        - sessionId = session._id;
    - else
        - sessionId = null;

    - var photosList = JSON.stringify(data.photos);

    div.ui.main.container.subPage(
        ng-controller="detailController"
        ng-init="init('#{sessionId}','#{ data._id }', '#{JSON.stringify( data.photos )}', '#{ amazon_base_url }', '#{ data.place.geometry.location.lat }', '#{ data.place.geometry.location.lng }' )"
    )

        - if (showEditButton)
            div.margin-bottom-30.text-center
                .ui.buttons
                    button.ui.button(
                        ng-click="deleteAd('#{ uuid }')",
                        ng-class="{ loading: deleteLoading }"
                    ) #{i18n.__("Delete")}
                    .or
                    - if (!user)
                        button.ui.positive.button(ng-click="openSignUpModal()") #{i18n.__("Edit")}
                    - else
                        a.ui.positive.button(href="/newAd?id=#{ data._id }") #{i18n.__("Edit")}

        div.detailContainer

            - if (data.status === 0)
                .ui.warning.message.margin-bottom-30
                    .header
                        | #{i18n.__("status_approvel")}
                    |   #{i18n.__("only_you")}

            - if (data.status === 2)
                .ui.negative.message.margin-bottom-30
                    .header
                        | #{i18n.__("status_rejected")}
                    |   #{i18n.__("only_you")}

            - if (data.status === 3)
                .ui.negative.message.margin-bottom-30
                    .header
                        | #{i18n.__("status_expired")}
                    |   #{i18n.__("only_you")}

            - if (data.status === 4)
                .ui.negative.message.margin-bottom-30
                    .header
                        | #{i18n.__("status_unpublished")}
                    |   #{i18n.__("only_you")}

            .ui.stackable.grid
                .eight.wide.column
                    h1 #{data.title}

                .eight.wide.column.text-right.detail-right-menu
                    .ui.right.floated.main.menu


                        a.music.popup.icon.item(
                                data-content='#{i18n.__("share_facebook")}',
                                target="_blank",
                                onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;",
                                href="https://www.facebook.com/sharer/sharer.php?u=#{ url }"
                            )
                            i.facebook.icon
                        a.music.popup.icon.item(
                            data-content='#{i18n.__("share_twitter")}',
                            target="_blank",
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;",
                            href="http://twitter.com/share?text=#{ data.title }&url=#{ url }&hashtags=nemofila"
                        )
                            i.twitter.icon
                        a.music.popup.icon.item(
                            data-content='#{i18n.__("share_google")}',
                            target="_blank",
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;",
                            href="https://plus.google.com/share?url=#{ url }&hashtags=nemofila"
                        )
                            i.google.plus.icon


                    - if (session)
                        .ui.right.floated.main.menu.favBtn(
                            ng-show="!isFav",
                            ng-cloak
                        )
                            a.music.popup.icon.item(
                                data-content='#{i18n.__("add_favourites")}',
                                ng-click="addFavourites('#{ session._id }','#{ data._id }')"
                            )
                                i.star.outline.icon

                        .ui.right.floated.main.menu.favBtn(
                            ng-show="isFav",
                            ng-cloak
                        )
                            a.music.popup.icon.item(
                                data-content='#{i18n.__("remove_favourites")}',
                                ng-click="delFavourites('#{ session._id }','#{ data._id }')"
                            )
                                i.star.icon

                    - if (!data.anotherContact || !data.anotherContact.checked)
                        - if (sessionId !== null && (sessionId != String(data.user._id)))
                            button.ui.right.floated.button.primary.sendMessage(ng-click="openSendMessageModal()") Send Message

            .ui.stackable.grid
                .six.wide.column
                    .ui.right.floated
                        span.rateNumber
                            b #{ viewRate }
                        .ui.star.large.rating#detailRating(data-rating='#{ rate }', ng-init="lastRate= #{ rate }")
                        .reviewMessage(ng-show="onRate")
                            | #{i18n.__("Thank you for the review")}

                    a.ui.fluid.image.showcaseImage(
                            ng-click='openGallery()',
                            href="javascript:;"
                        )
                        - if (data.photos !== null)
                            img(
                                ng-init="showcase(#{ JSON.stringify(data.photos) }, #{ data.photoShowcaseIndex })",
                                ng-src='#{ amazon_base_url }/{{ showcase }}'
                            )
                        - else
                            img(ng-src='/img/no-photo.png')

                    .ui.images.detail-photo-list.text-center
                        - if (data.photos !== null)
                            ng-image-gallery(
                                images='imagesa',
                                methods='methods',
                                img-anim='slide',
                                conf='conf',
                                on-open='opened();',
                                on-close='closed();',
                                on-delete='delete(img, cb)',
                                bubble-size=18,
                                img-bubbles="true",
                            )

                            div.owl-carousel.owl-theme
                                each photo,k in data.photos
                                    img.ui.image.tiny(
                                        ng-click='changePhoto(#{k})',
                                        src='#{ amazon_base_url }/#{ photo.filename }',
                                        alt="#{ photo.altTag }"
                                    )

                .ten.wide.column
                    .ui.stackable.grid
                        .eight.wide.column
                            h3 #{i18n.__("description")}
                        .eight.wide.column.text-right
                            button.ui.tiny.button(ng-click="changeDescriptionLanguage()") #{i18n.__("Change Language")}

                    .ui.segment.descriptionArea
                        .description
                            div(ng-show="showLang1")
                                | !{ data.description }
                            div(ng-show="showLang2")
                                | !{ data.description2 }



            .ui.stackable.grid.adDetails
                .eight.wide.column
                    .active.section #{ place.fullPlaceName ? place.fullPlaceName : place.formatted_address }


                    table.ui.definition.table
                        tbody
                            tr
                                td #{i18n.__("category")}
                                td
                                    |  #{ i18n.__(category.name) }
                                    - if (category.childCategoryName)
                                        |  / #{ i18n.__(category.childCategoryName) }
                            //tr
                                td #{i18n.__("listing_date")}
                                td #{ moment(data.listingDate).format("DD/MM/YYYY") }
                            tr
                                td #{i18n.__("Zip Code")}
                                td
                                    | #{ data.zipCode }

                            tr(ng-show="#{ data.phone !== '' }", ng-cloak)
                                td #{i18n.__("phone")}
                                td
                                    a.phone-number
                                        | #{ data.phone }

                            tr(ng-show="#{ data.website != '' }", ng-cloak)
                                td #{i18n.__("website")}
                                td
                                    a(href="#{ absoluteWebsiteUrl }", ng-cloak, target="_blank")
                                        | #{ data.website }

                            tr(ng-show="#{ data.address != '' }", ng-cloak)
                                td #{i18n.__("address")}
                                td
                                    | #{ data.address }

                            tr
                                td #{i18n.__("Work Times")}
                                td
                                    div.todayTop(ng-click="toggleWorkTimes()")
                                        span.today #{i18n.__("Today")}
                                        span
                                            - if (isOpen)
                                                .ui.green.horizontal.label.inline-block #{i18n.__("Open Now")}

                                                - if (!data.workTimesToday.hour24)
                                                    .closeTime.inline-block
                                                        | #{i18n.__("Close Time")}
                                                        | #{ data.workTimesToday.closeTime }
                                                - else
                                                    .inline-block #{i18n.__("24 hours")}

                                            - else
                                                .ui.red.horizontal.label #{i18n.__("Close")}

                                        i.ui.angle.down.icon(style="display:block; float:right")

                                    - var monday = data.workTimes.monday;
                                    - var tuesday = data.workTimes.tuesday;
                                    - var wednesday = data.workTimes.wednesday;
                                    - var thursday = data.workTimes.thursday;
                                    - var friday = data.workTimes.friday;
                                    - var saturday = data.workTimes.saturday;
                                    - var sunday = data.workTimes.sunday;

                                    ul.workTimeList(ng-show="workTimesVisible")
                                        li
                                            div.listDay #{i18n.__("Monday")}
                                            div.listWorkTimes

                                                - if (!monday.open)
                                                    | #{i18n.__("Close")}
                                                - else if(monday.hour24)
                                                    | #{i18n.__("24 hours")}
                                                - else
                                                    | #{ monday.openTime } : #{ monday.closeTime ? monday.closeTime : ' ~ ' }

                                        li
                                            div.listDay #{i18n.__("Tuesday")}
                                            div.listWorkTimes

                                                - if (!tuesday.open)
                                                    | #{i18n.__("Close")}
                                                - else if(tuesday.hour24)
                                                    | #{i18n.__("24 hours")}
                                                - else
                                                    | #{ tuesday.openTime } : #{ tuesday.closeTime ? tuesday.closeTime : ' ~ ' }

                                        li
                                            div.listDay #{i18n.__("Wednesday")}
                                            div.listWorkTimes

                                                - if (!wednesday.open)
                                                    | #{i18n.__("Close")}
                                                - else if(wednesday.hour24)
                                                    | #{i18n.__("24 hours")}
                                                - else
                                                    | #{ wednesday.openTime } : #{ wednesday.closeTime ? wednesday.closeTime : ' ~ ' }

                                        li
                                            div.listDay #{i18n.__("Thursday")}
                                            div.listWorkTimes

                                                - if (!thursday.open)
                                                    | #{i18n.__("Close")}
                                                - else if(thursday.hour24)
                                                    | #{i18n.__("24 hours")}
                                                - else
                                                    | #{ thursday.openTime } : #{ thursday.closeTime ? thursday.closeTime : ' ~ ' }

                                        li
                                            div.listDay #{i18n.__("Friday")}
                                            div.listWorkTimes

                                                - if (!friday.open)
                                                    | #{i18n.__("Close")}
                                                - else if(friday.hour24)
                                                    | #{i18n.__("24 hours")}
                                                - else
                                                    | #{ friday.openTime } : #{ friday.closeTime ? friday.closeTime : ' ~ ' }

                                        li
                                            div.listDay #{i18n.__("Saturday")}
                                            div.listWorkTimes

                                                - if (!saturday.open)
                                                    | #{i18n.__("Close")}
                                                - else if(saturday.hour24)
                                                    | #{i18n.__("24 hours")}
                                                - else
                                                    | #{ saturday.openTime } : #{ saturday.closeTime ? saturday.closeTime : ' ~ ' }

                                        li
                                            div.listDay #{i18n.__("Sunday")}
                                            div.listWorkTimes

                                                - if (!sunday.open)
                                                    | #{i18n.__("Close")}
                                                - else if(sunday.hour24)
                                                    | #{i18n.__("24 hours")}
                                                - else
                                                    | #{ sunday.openTime } : #{ sunday.closeTime ? sunday.closeTime : ' ~ ' }

                .eight.wide.column
                    #googleMap(style="width:100%;height:270px; margin-top:33px")


            .text-center.margin-top-30
                h3 #{ pageView }
                | #{i18n.__("Page View")}

            .text-right
                button.ui.button(ng-click="openReportModal()") #{i18n.__("Report")}


        div.margin-top-30(ng-if="events.length > 0")
            h2 #{i18n.__("Events for This Ad")}
            .ui.grid.no-margin-bottom
                .doubling.four.column.row.no-padding-bottom
                    .column.margin-bottom-10(
                    ng-repeat="event in events",
                    )
                        a.ui.fluid.card.adCard(href="/events/detail/{{ event.slug }}/{{ event._id }}")
                            .image.cardListImage
                                img(ng-src='#{ amazon_base_url }/{{ event.photos[event.photoShowcaseIndex].filename }}', ng-hide="event.photoShowcaseIndex === null")
                                img(ng-src='/img/no-photo.png', , ng-show="event.photoShowcaseIndex === null")
                            .content
                                span.black {{ event.title }}

        div.margin-top-30(ng-if="similarAds.length > 1")
            h2 #{i18n.__( "Similar Ads" )}
            .ui.segment.list-segment
                .ui.grid.no-margin-bottom
                    .doubling.four.column.row
                        .column.margin-bottom-10(
                            ng-repeat="ad in similarAds",
                            ng-if="ad._id !== adId"
                        )
                            a.ui.fluid.card.adCard(href="/detail/{{ ad.slug }}/{{ ad._id }}")
                                .image.cardListImage
                                    img(ng-src='#{ amazon_base_url }/{{ ad.photos[ad.photoShowcaseIndex].filename }}', ng-hide="ad.photoShowcaseIndex === null")
                                    img(ng-src='/img/no-photo.png', , ng-show="ad.photoShowcaseIndex === null")
                                .content
                                    span.black {{ ad.title }}

        - if (sessionId !== null && (sessionId != String(data.user._id)))
            // Send Message Modal
            .ui.modal.tiny#sendMessageModal
                i.close.icon
                .header
                    | Send Message
                .content
                    div(ng-show="!messageSended" ng-cloak)
                        div.margin-bottom-30
                            h4.no-margin-bottom To: #{ data.user.name } #{ data.user.surname }

                        form.ui.form#sendMessageForm
                            input(type='hidden', ng-init="sendMessageFormData.toUserId = '#{ data.user._id }' ", ng-model="sendMessageFormData.toUserId")
                            input(type='hidden', ng-init="sendMessageFormData.adId = '#{ data._id }' ", ng-model="sendMessageFormData.adId")

                            .fields.ui.grid
                                .field.sixteen.wide.column.no-padding-top.no-padding-bottom
                                    textarea(
                                        name="message",
                                        placeholder='Enter your message',
                                        ng-model='sendMessageFormData.message'
                                    )
                            .ui.error.message
                            .backendErr.ui.red.message(ng-if="sendMessageErr")
                                | {{ sendMessageErr }}

                    div(ng-show="messageSended" ng-cloak)
                        .ui.success.message
                            .header
                                | Your message has been sent.
                .actions
                    button.ui.right.icon.button.primary(
                        form="sendMessageForm",
                        ng-class="sendMessageLoading ? 'loading disabled' : '' ",
                        ng-show="!messageSended"
                    )
                        | Submit


        include partials/modals/report



append javascripts
    script(src="/owl.carousel/dist/owl.carousel.min.js")
    script(src="/semantic/dist/components/popup.min.js")
    script(src="/semantic/dist/components/rating.min.js")
    script(src="/dist/js/app/services/favFactory.min.js")
    script(src="/dist/js/app/services/rateFactory.min.js")
    script(src="/dist/js/app/services/eventFactory.min.js")
    script(src="/dist/js/app/services/reportFactory.min.js")
    script(src="/dist/js/app/services/detailFactory.min.js")
    script(src="/js/app/controllers/detailController.js")
