extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/button.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/popup.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/breadcrumb.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/table.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='/dist/css/style.css')
    link(rel='stylesheet', type='text/css', href='/dist/css/detail.css')

block content
    - var sessionId;
    - if (session)
        - sessionId = session._id;
    - else
        - sessionId = null;

    div(ng-controller="detailController" ng-init="init('#{sessionId}','#{ data._id }')")
        - if (!data.status)
            .ui.warning.message.margin-bottom-30
                .header
                    | This ad is in the approval phase
                |   Only you can view it.

        .ui.grid
            .ten.wide.column
                h1 #{data.title}

            .six.wide.column.text-right.detail-right-menu
                .ui.right.floated.main.menu
                    a.music.popup.icon.item(
                            data-content='Share with Facebook',
                            target="_blank",
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;",
                            href="https://www.facebook.com/sharer/sharer.php?u=#{url}"
                        )
                        i.facebook.icon
                    a.music.popup.icon.item(data-content='Share with Twitter')
                        i.twitter.icon
                    a.music.popup.icon.item(data-content='Share with Google+')
                        i.google.plus.icon


                - if (session)
                    .ui.right.floated.main.menu(
                        ng-show="!isFav",
                        ng-cloak
                    )
                        a.music.popup.icon.item(
                            data-content='Add Favorites',
                            ng-click="addFavourites('#{ session._id }','#{ data._id }')"
                        )
                            i.star.empty.icon

                    .ui.right.floated.main.menu(
                        ng-show="isFav",
                        ng-cloak
                    )
                        a.music.popup.icon.item(
                        data-content='Remove Favorites',
                        ng-click="delFavourites('#{ session._id }','#{ data._id }')"
                        )
                            i.star.icon

        .ui.grid
            .six.wide.column
                a.ui.fluid.image(href='http://google.com')
                    - if (data.photos !== null)
                        img(ng-src='/uploads/#{data.uuid}/#{data.photos[data.photoShowcaseIndex].filename}')
                    - else
                        img(ng-src='/img/no-photo.png')

                .ui.mini.images.detail-photo-list.text-center
                    - if (data.photos !== null)
                        each photo in data.photos
                            img.ui.image(src='/uploads/#{ data.uuid }/#{ photo.filename }')

            .ten.wide.column
                h2 $#{ data.price }

                .ui.breadcrumb.tiny
                    .active.section Turkey
                    .divider  /
                    .active.section Istanbul
                    .divider  /
                    .active.section Atasehir


                table.ui.definition.table
                    tbody
                        tr
                            td Category
                            td Electronic / Computer
                        tr
                            td Listing Date
                            td #{ moment(data.createdAt).format("DD/MM/YYYY") }
                        tr
                            td Contact Name
                            td
                                - if (!data.anotherContact)
                                    div.contact-name #{ data.user.name } #{ data.user.surname }
                                    - if (sessionId !== null)
                                        button.ui.right.floated.button.primary(ng-click="openSendMessageModal()") Send Message
                                - else
                                    div #{ data.anotherContact.name }
                                .clearfix
                        tr
                            td Contact Number
                            td
                                a.phone-number(href="tel:#{ data.user.phone }")
                                    | #{ data.user.phone }




        h3 Description
        .ui.segment
            p.description
                | #{ data.description }


        // Send Message Modal
        .ui.modal.tiny#sendMessageModal
            i.close.icon
            .header
                | Send Message
            .content
                div(ng-show="!messageSended" ng-cloak)
                    div.margin-bottom-30
                        h4.no-margin-bottom To: #{ data.user.name } #{ data.user.surname }

                    form.ui.form#sendMessageForm
                        input(type='hidden', ng-init="sendMessageFormData.toUserId = '#{ data.user._id }' ", ng-model="sendMessageFormData.toUserId")
                        input(type='hidden', ng-init="sendMessageFormData.fromUserId = '#{ sessionId }' ", ng-model="sendMessageFormData.fromUserId")
                        input(type='hidden', ng-init="sendMessageFormData.adId = '#{ data._id }' ", ng-model="sendMessageFormData.adId")

                        .fields.ui.grid
                            .field.sixteen.wide.column.no-padding-top.no-padding-bottom
                                textarea(
                                    name="message",
                                    placeholder='Enter your message',
                                    ng-model='sendMessageFormData.message'
                                )
                        .ui.error.message
                        .backendErr.ui.red.message(ng-if="sendMessageErr")
                            | {{ sendMessageErr }}

                div(ng-show="messageSended" ng-cloak)
                    .ui.success.message
                        .header
                            | Your message has been sent.
            .actions
                button.ui.right.icon.button.primary(
                    form="sendMessageForm",
                    ng-class="sendMessageLoading ? 'loading disabled' : '' ",
                    ng-show="!messageSended"
                )
                    | Submit

append javascripts
    script(src="/semantic/dist/components/popup.min.js")
    script(src="/dist/js/app/services/detailFactory.min.js")
    script(src="/dist/js/app/services/profile/myMessageFactory.min.js")
    script(src="/dist/js/app/controllers/detailController.min.js")
