extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/button.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/popup.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/breadcrumb.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/table.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='/dist/css/style.css')
    link(rel='stylesheet', type='text/css', href='/dist/css/detail.css')

block content
    div(ng-controller="detailController" ng-init="init('#{data.id}')")
        .ui.grid
            .ten.wide.column
                h1 #{data.title}

            .six.wide.column.text-right.detail-right-menu
                .ui.right.floated.main.menu
                    a.music.popup.icon.item(data-content='Share with Facebook')
                        i.facebook.icon
                    a.music.popup.icon.item(data-content='Share with Twitter')
                        i.twitter.icon
                    a.music.popup.icon.item(data-content='Share with Google+')
                        i.google.plus.icon

                .ui.right.floated.main.menu
                    a.music.popup.icon.item(data-content='Add Favorites')
                        i.star.empty.icon

        .ui.grid
            .six.wide.column
                a.ui.fluid.image(href='http://google.com')
                    - if (data.photos !== null)
                        img(ng-src='/uploads/#{data.uuid}/#{data.photos[data.photoShowcaseIndex].filename}')
                    - else
                        img(ng-src='/img/no-photo.png')

                .ui.mini.images.detail-photo-list.text-center
                    - if (data.photos !== null)
                        each photo in data.photos
                            img.ui.image(src='/uploads/#{ data.uuid }/#{ photo.filename }')

            .ten.wide.column
                h2 $#{ data.price }

                .ui.breadcrumb.tiny
                    .active.section Turkey
                    .divider  /
                    .active.section Istanbul
                    .divider  /
                    .active.section Atasehir


                table.ui.definition.table
                    tbody
                        tr
                            td Category
                            td Electronic / Computer
                        tr
                            td Listing Date
                            td #{ moment(data.createdAt).format("DD/MM/YYYY") }
                        tr
                            td Contact Name
                            td
                                div.contact-name #{ data.user.name } #{ data.user.surname }
                                button.ui.right.floated.button.primary Send Message
                                .clearfix
                        tr
                            td Contact Number
                            td
                                a.phone-number(href="tel:#{ data.user.phone }")
                                    | #{ data.user.phone }




        h3 Description
        .ui.segment
            p.description
                | #{ data.description }

append javascripts
    script(src="/semantic/dist/components/popup.min.js")
    script(src="/dist/js/app/controllers/detailController.min.js")
