extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/input.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/segment.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/loader.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/label.min.css')
    link(rel='stylesheet', type='text/css', href='dist/css/style.css')
    link(rel='stylesheet', type='text/css', href='dist/css/index.css')

block content
    div(ng-controller="indexController" ng-init="init()")

        .searchForm
            form.ui.form.fluid(ng-submit="onSubmit()")
                .field
                    .ui.icon.input
                        i.search.icon
                        input(ng-model='searchForm.title', placeholder='Search...', )

                .five.fields(style="display:none")
                    .field
                        label Country
                        select(
                            ng-model="newAdForm.country" ,
                            ng-options="index as country.name for (index, country) in countries",
                            ng-change="changeCountry()"
                        )
                    .field
                        label City
                        select(
                            ng-disabled="visiblesCountries.cities",
                            ng-model="newAdForm.city",
                            ng-options="index as city.name for (index, city) in countries[newAdForm.country].cities",
                            ng-change="changeCity()"
                        )
                    .field
                        label District
                        select(
                            ng-disabled="visiblesCountries.districts",
                            ng-model="newAdForm.district",
                            ng-options="index as district.name for (index, district) in countries[newAdForm.country].cities[newAdForm.city].districts",
                            ng-change="changeDistrict()"
                        )
                    .field
                        label Category
                        select(
                            ng-model="newAdForm.category" ,
                            ng-options="index as category.name for (index, category) in categories",
                            ng-change="changeCategory()"
                        )
                    .field
                        label Child Category
                        select(
                            ng-disabled="visiblesCategories.subCategory",
                            ng-model="newAdForm.categoryChild",
                            ng-options="index as subCategory.name for (index, subCategory) in categories[newAdForm.category].subCategories",
                        )

        .ui.segment.list-segment
            .ui.grid.stackable.no-margin-bottom(ng-show="!indexAdsLoading" ng-cloak)
                .four.wide.column(ng-repeat="ad in ads")
                    a.ui.fluid.card.adCard(href="/detail/{{ ad.slug }}/{{ ad._id }}")
                        .image
                            img(ng-src='uploads/{{ ad.uuid }}/{{ ad.photos[ad.photoShowcaseIndex].filename }}')
                        .content
                            span {{ ad.title }}
            .ui.dimmer(ng-class="{ active:indexAdsLoading }")
                .ui.loader

            h1.text-center(ng-show="ads.length < 1", ng-cloak)
                | No results.

        .ui.grid.stackable
            .eighteen.wide.column.center.aligned
                .ui.pagination.menu
                    a.item
                        | Prev
                    a.active.item
                        | 1
                    a.item
                        | 2
                    .disabled.item
                        | ...
                    a.item
                        | 10
                    a.item
                        | 11
                    a.item
                        | 12
                    a.item
                        | Next

        .clearfix

append javascripts
    script(src="dist/js/app/controllers/indexController.min.js")
