extends layout

append meta_tags
    meta(name='description', content='Nemofila your own online lifestyle guru! We offer a universal platform when seeking ALL kinds of different services ranging anywhere and anything from restaurant, lawyers to home services and education.')

append stylesheets
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/input.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/loader.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/label.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/rating.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/form.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/checkbox.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/label.min.css')
    link(rel='stylesheet', type='text/css', href='/dist/css/index.css')
    style.
        .transparent {
            background: rgba(0, 0, 0, 0.1) !important
        }

block logo

block top_left
    .ui.container.computer.tablet.only.grid.no-margin
        a.header.item.no-before(href='/')
            img.logo(src='/img/nemofila.png')
        .left.menu
            .ui.dropdown.icon.item
                i.map.signs.thin.icon &nbsp;
                span.text #{i18n.__( "business_owners" )}
                .menu
                    if !user
                        a.item.no-before(href='javascript:;', ng-click="openSignInModal()")
                            | #{i18n.__( "create_your_ad" )}
                    else
                        a.item(href="/newAd")
                            | #{i18n.__( "create_your_ad" )}
                    .divider
                    .header
                        | #{i18n.__("Info")}
                    a.item(href="#")
                        | #{i18n.__("how_create_an_ad")}
                    a.item(href="#")
                        | #{i18n.__("blog_flor_business_owners")}
                    // a.item(href="#")
                        | #{i18n.__("business_success_stories")}
                    a.item(href="#")
                        | #{i18n.__("if_your_business_is_not_here")}

            .item
                button.ui.orange.button(ng-click="openHowItWorkModal()") #{i18n.__( "how_it_work" )}

block content
    div(ng-controller="indexController" ng-init="init(#{ page })")
        .ui.main.container.fluid.indexHead
            .ui.main.container
                .indexHeadTop

                .clearfix

                div.headTitle
                    h1 #{i18n.__( "Say Hello to Nemofila" )}
                    h2.subTitle #{i18n.__( "index_subtitle" )}

                .ui.sidebar.inverted.vertical.left.menu.filterSidebar
                    form.ui.form.sidebarFilterForm
                        .field
                            label #{i18n.__( "Location" )}
                            input(class="ui input", id="searchLocation2", class="autocompletePlace")
                        country-and-category-dropdowns(categoryLang="heyo")

                        .field.text-right.margin-top-10
                            .ui.button.primary(ng-click="onSubmit(true)", ng-class="indexAdsLoading ? 'loading disabled' : '' ")
                                | #{i18n.__( "Search" )}

                .search.ui.container
                    .searchForm
                        form.ui.form.fluid(action="/search")
                            // .ui.action.input.fluid.filterInput
                                input(ng-model='searchForm.title', name="title", value="{{ searchForm.title }}", placeholder='#{i18n.__("searchPlaceholder")}...')
                                // button.ui.button.primary(ng-class="indexAdsLoading ? 'loading disabled' : '' ") #{i18n.__("searchBtn")}

                            // .advancedSearch.ui.container.mobile.tablet.only.grid.padding-top-10
                                a.ui.button.white(href="javascript:;" ng-click="toggleFilterSidebar()")
                                    | #{i18n.__("filterBtn")}

                            div.searchFormBottom.ui.container
                                .two.fields
                                    .field
                                        label #{i18n.__( "Location" )}
                                        input(g-places-autocomplete='', ng-model='place')
                                        input(name="location", type="hidden", value="{{ place.address_components[0].long_name }}")

                                    .field
                                        .two.fields
                                            .field
                                                label #{i18n.__( "Category" )}
                                                select(name='category', ng-model='newAdForm.category', ng-options='index as category.name for (index, category) in categories ', ng-change='changeCategory()')
                                                    option(value='') #{i18n.__( "Please select" )}
                                                input(ng-hide='true', ng-model='categories[newAdForm.category].name', name='categoryName')
                                                input(ng-hide='true', ng-model='categories[newAdForm.category]._id', name='categoryId')
                                            .field
                                                label #{i18n.__( "Child Category" )}
                                                select(name='subCategory', ng-disabled='visiblesCategories.subCategory', ng-model='newAdForm.categoryChild', ng-options='index as subCategory.name for (index, subCategory) in categories[newAdForm.category].subCategories')
                                                    option(value='') #{i18n.__( "Please select" )}
                                                input(ng-hide='true', ng-model='categories[newAdForm.category].subCategories[newAdForm.categoryChild].name', name='subCategoryName')
                                                input(ng-hide='true', ng-model='categories[newAdForm.category].subCategories[newAdForm.categoryChild]._id', name='subCategoryId')

                                .clearfix

                                .ui.grid.stackable
                                    .six.wide.column
                                        .field.text-left
                                            label.custom #{i18n.__( "Open Now" )}
                                                input.customCheckbox(name='openNow', type='checkbox')

                                    .ten.wide.column
                                        .field.text-right
                                            button.ui.button.primary(ng-class="indexAdsLoading ? 'loading disabled' : '' ")
                                                | Search

        .ui.main.container
            h3.indexBestInTitle #{i18n.__("best_in_nemofila")}

            h2(ng-show="isSearch && resultNumber > 0", ng-cloak) We found {{ resultNumber }} results.
            .ui.segment.list-segment
                .ui.grid.no-margin-bottom(ng-show="!indexAdsLoading" ng-cloak)
                    .doubling.four.column.row
                        .column.margin-bottom-10(ng-repeat="ad in ads")
                            .ui.fluid.card.adCard
                                a.image.cardListImage(href="/detail/{{ ad.slug }}/{{ ad._id }}")
                                    .ui.left.corner.orange.label(ng-show="ad.totalPower > 0")
                                        .cardPowerNumber
                                            | {{ ad.totalPower }}
                                    img(ng-src='#{ amazon_base_url }/{{ ad.photos[ad.photoShowcaseIndex].filename }}', ng-show="{{ ad.photos !== null }}")
                                    img(ng-src='/img/no-photo.png', ng-show="{{ ad.photos === null }}")
                                //.content
                                    span {{ ad.title | limitTo: 26 }} {{ ad.title.length > 26 ? '...' : ''}}
                                .content
                                    .header {{ ad.title | limitTo: 26 }} {{ ad.title.length > 26 ? '...' : ''}}
                                    .meta
                                        a {{ ad.category }}
                                    //.description
                                        | {{ ad.description | limitTo: 26 }} {{ ad.description.length > 26 ? '...' : ''}}
                                    .meta.margin-top-10(ng-init="locationName = ad.place.fullPlaceName ? ad.place.fullPlaceName : ad.locationName")
                                        i.map.marker.alternate.icon
                                        | {{ locationName | limitTo: 26 }}{{ locationName.length > 26 ? '...' : ''}}

                                .extra.content
                                    div.rateArea(ng-show="ad.rate", style="display:inline-block")
                                        .ui.star.rating(data-rating='{{ ad.rate }}')

                                    div.right.floated(style="display:inline-block")
                                        .ui.green.horizontal.label(ng-if="ad.openNow") #{i18n.__("Open")}
                                        .ui.horizontal.label(ng-if="!ad.openNow") #{i18n.__("Close")}

                .ui.dimmer(ng-class="{ active:indexAdsLoading }")
                    .ui.loader

                h1.text-center(ng-show="ads.length < 1", ng-cloak)
                    | #{i18n.__( "No Results" )}

            .ui.grid.stackable
                .eighteen.wide.column.center.aligned
                    paging(
                        page= 'currentPage',
                        page-size='adPerPage',
                        total='adCount',
                        pg-href="?page={page}",
                        show-prev-next='true',
                        show-first-last='true',
                        text-prev="#{i18n.__( 'Prev' )}",
                        text-next="#{i18n.__( 'Next' )}"
                    )

            .clearfix

            div(ng-if="events.length > 0")
                h2.indexBestInTitle.margin-top-10 #{i18n.__( "last_events" )}
                .ui.segment.list-segment
                    .ui.grid.no-margin-bottom(ng-show="!indexEventsLoading" ng-cloak)
                        .doubling.three.column.row
                            .column.margin-bottom-10(ng-repeat="event in events")
                                a.ui.fluid.card.adCard(href="/events/detail/{{ event.slug }}/{{ event._id }}")
                                    .image.cardListImage
                                        img(ng-src='#{ amazon_base_url }/{{ event.photos[event.photoShowcaseIndex].filename }}', ng-show="{{ ad.photos !== null }}")
                                        img(ng-src='/img/no-photo.png', ng-show="{{ event.photos === null }}")
                                    .content
                                        .header {{ event.title | limitTo: 26 }} {{ event.title.length > 26 ? '...' : ''}}
                                        .meta {{ event.category.name }}

                                    .extra.content
                                        span.left.floated(ng-if="event.howManyDaysAreLeft > 0 && event.howManyDaysAreLeft < 6")
                                            .ui.red.horizontal.label
                                                | #{i18n.__("Last")}
                                                | {{ event.howManyDaysAreLeft }}
                                                | #{i18n.__("days")}

                                        span.right.floated
                                            i.map.marker.alternate.icon
                                            | {{ event.ad.place.formatted_address | limitTo: 18 }}{{ event.ad.place.formatted_address.length > 18 ? '...' : ''}}

                    .ui.dimmer(ng-class="{ active:indexAdsLoading }")
                        .ui.loader


    include partials/modals/index/howItWork

append javascripts
    script(data-cfasync="true", src="/semantic/dist/components/rating.min.js")
    script(data-cfasync="true", src="/semantic/dist/components/dropdown.min.js")
    script(data-cfasync="true", src="/dist/js/app/services/indexFactory.min.js")
    script(data-cfasync="true", src="/dist/js/app/services/categoriesFactory.min.js")
    script(data-cfasync="true", src="/dist/js/app/directives/countryAndCategoryDropdowns.min.js")
    script(data-cfasync="true", src="dist/js/app/controllers/indexController.min.js")
    script(data-cfasync="true", type='text/javascript', src='https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-521b6aa16401756b')

