doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

        title= title
            |  - EasyAd

        block stylesheets
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/reset.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/site.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/container.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/grid.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/header.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/image.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/menu.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/divider.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/list.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/segment.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/dropdown.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/icon.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/form.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/message.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/label.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/button.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/dimmer.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/modal.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/transition.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/sidebar.min.css')
            link(rel='stylesheet', type='text/css', href='/semantic/dist/components/flag.min.css')
            link(rel='old stylesheet', href='/dist/css/style.css')

    body(ng-app="app" ng-controller="layoutController")


        .ui.sidebar.inverted.vertical.right.menu.rightSidebar
            if !user
                a.item.no-before(href='javascript:;', ng-click="openSignUpModal()") #{i18n.__("sign_up")}
                a.item(href='javascript:;', ng-click="openSignInModal()") #{i18n.__("sign_in")}
            else
                a.item(href="/profile")=user.name
                    .ui.right.floated.red.label(ng-show="messageLength > 0", ng-cloak, style="display:none") {{ messageLength }}
                a.item(href='/logout') #{i18n.__("logout")}

            .item.text-center
                if user
                    a.ui.primary.button(href="/newAd") #{i18n.__("newAdBtn")}
                else
                    button.ui.primary.button(ng-click="openSignInModal()") #{i18n.__("newAdBtn")}


        .ui.fixed.inverted.menu
            .ui.container
                a.header.item(href='/')
                    img.logo(src='/img/logo.png')
                    | &nbsp; &nbsp;  &nbsp; &nbsp; Easy Ads

                .ui.container.computer.tablet.only.grid
                    .right.menu
                        .ui.simple.dropdown.item
                            | Language
                            i.dropdown.icon
                            .menu
                                a.item(href="/en")
                                    i.gb.flag
                                    |  English
                                a.item(href="/tr")
                                    i.tr.flag
                                    |  Türkçe
                                a.item(href="/es")
                                    i.spain.flag
                                    |  Español

                        if !user
                            a.item.no-before(href='javascript:;', ng-click="openSignUpModal()") #{i18n.__("sign_up")}
                            a.item(href='javascript:;', ng-click="openSignInModal()") #{i18n.__("sign_in")}
                        else
                            .ui.simple.dropdown.item
                                a(href="/profile")=user.name
                                i.dropdown.icon
                                .ui.red.label(ng-if="messageLength > 0", ng-cloak) {{ messageLength }}
                                .menu
                                    a.item(href='/profile#!/myads') #{i18n.__("my_ads")}
                                    a.item(href='/profile#!/messages') #{i18n.__("messages")} &nbsp;
                                        .ui.right.floated.red.label(ng-if="messageLength > 0", ng-cloak) {{ messageLength }}
                                    a.item(href='/profile#!/myfavourites') #{i18n.__("favourites")}
                                    a.item(href='/logout') #{i18n.__("logout")}

                        .item
                            if user
                                a.ui.primary.button.right.floated.right(href="/newAd") #{i18n.__("newAdBtn")}
                            else
                                button.ui.primary.button.right.floated.right(ng-click="openSignInModal()") #{i18n.__("newAdBtn")}


            .ui.container.mobile.only.grid.no-grid-padding
                .right.menu
                   a.item.no-before(ng-click="toggleSidebar()")
                        i.sidebar.medium.icon

        .pusher
            .ui.main.container.aligned
                block content

        .ui.inverted.vertical.footer.segment
            .ui.center.aligned.container
                .ui.stackable.inverted.divided.grid
                    .three.wide.column
                        h4.ui.inverted.header Group 1
                        .ui.inverted.link.list
                            a.item(href='#') Link One
                            a.item(href='#') Link Two
                            a.item(href='#') Link Three
                            a.item(href='#') Link Four
                    .three.wide.column
                        h4.ui.inverted.header Group 2
                        .ui.inverted.link.list
                            a.item(href='#') Link One
                            a.item(href='#') Link Two
                            a.item(href='#') Link Three
                            a.item(href='#') Link Four
                    .three.wide.column
                        h4.ui.inverted.header Group 3
                        .ui.inverted.link.list
                            a.item(href='#') Link One
                            a.item(href='#') Link Two
                            a.item(href='#') Link Three
                            a.item(href='#') Link Four
                    .seven.wide.column
                        h4.ui.inverted.header Footer Header
                        p
                            | Extra space for a call to action inside the footer that could help re-engage users.
                .ui.inverted.section.divider
                img.ui.centered.mini.image(src='/img/logo.png')
                .ui.horizontal.inverted.small.divided.link.list
                    a.item(href='#') Site Map
                    a.item(href='#') Contact Us
                    a.item(href='#') Terms and Conditions
                    a.item(href='#') Privacy Policy

        // modals
        // SignUp Modal
        .ui.modal.tiny#signUpModal
            i.close.icon
            .header
                | Sign Up
            .content
                .ui.grid.stackable.no-margin-bottom
                    .eight.wide.column
                        a.ui.facebook.button.fluid(href="/auth/facebook")
                            i.facebook.icon
                            |   Sign Up with Facebook
                    .eight.wide.column
                        a.ui.twitter.button.fluid(href="/auth/twitter")
                            i.twitter.icon
                            |   Sign Up with Twitter
                    .sixteen.wide.column
                        a.ui.google.plus.button.fluid(href="/auth/google")
                            i.google.plus.icon
                            |   Sign Up with Google

                .ui.horizontal.divider
                    | Or

                form.ui.form#signUpForm
                    .two.fields
                        .field
                            //label Name
                            input(name='name', placeholder='Name', ng-model='signupForm.name')
                        .field
                            //label Surname
                            input(name='surname', placeholder='Surname', ng-model='signupForm.surname')
                    .two.fields
                        .field
                            //label E-mail
                            input(name='email',  placeholder='E-mail', ng-model='signupForm.email', autocapitalize="none")
                        .field
                            //label Phone Number
                            input(name='number', placeholder='Phone Number', ng-model="signupForm.phone")
                    .two.fields
                        .field
                            input(name='password', type='password', placeholder='Password', ng-model='signupForm.password')
                        .field
                            input(name='passwordConfirm', type='password', placeholder='Confirm Password', ng-model="signupForm.passwordConfirm")
                    .ui.error.message
                    .backendErr.ui.red.message(ng-if="signUpErr")
                        | {{ signUpErr }}


            .actions
                button.ui.left.floated.button(ng-click="openSignInModal()")
                    | Login

                button.ui.right.icon.button.primary(form="signUpForm", ng-class="registerBtnLoading ? 'loading disabled' : '' ")
                    | Sign Up

        // SignIn Modal
        .ui.modal.mini#signInModal
            i.close.icon
            .header
                | Sign In
            .content
                .ui.grid.stackable.no-margin-bottom
                    .sixteen.wide.column
                        a.ui.facebook.button.fluid(href="/auth/facebook")
                            i.facebook.icon
                            |   Sign In with Facebook
                    .sixteen.wide.column.no-padding-top
                        a.ui.twitter.button.fluid(href="/auth/twitter")
                            i.twitter.icon
                            |   Sign In with Twitter
                    .sixteen.wide.column.no-padding-top
                        a.ui.google.plus.button.fluid(href="/auth/google")
                            i.google.plus.icon
                            |   Sign In with Google

                .ui.horizontal.divider
                    | Or

                form.ui.form#signInForm
                    .fields.ui.grid
                        .field.sixteen.wide.column
                            //label E-mail
                            input(name='email', placeholder='E-mail', ng-model='loginFormData.email', autocapitalize="none")
                        .field.sixteen.wide.column.no-padding-top
                            input(name='pw', type='password', placeholder='Password', ng-model='loginFormData.password')
                       .field.sixteen.wide.column.no-padding-top
                           button.ui.right.icon.fluid.button.primary(form="signInForm", ng-class="signInBtnLoading ? 'loading disabled' : '' ")
                               | Login
                        .field.sixteen.wide.column.no-padding-top.no-padding-bottom.text-right
                            a.forgot(href="#", ng-click="openForgotModal()")
                                | Forgot password?
                    .ui.error.message
                    .backendErr.ui.red.message(ng-if="signInErr")
                        | {{ signInErr }}


            .actions
                button.ui.button(ng-click="openSignUpModal()")
                    | Sign Up



        // Forgot Modal
        .ui.modal.tiny#forgotModal
            i.close.icon
            .header
                | Forgot My Password
            .content
                div(ng-show="!emailSended" ng-cloak)
                    form.ui.form#forgotForm
                        .fields.ui.grid
                            .field.sixteen.wide.column.no-padding-top.no-padding-bottom
                                //label E-mail
                                input(name='email', placeholder='E-mail', ng-model='forgotFormData.email', autocapitalize="none")
                        .ui.error.message
                        .backendErr.ui.red.message(ng-if="forgotErr")
                            | {{ forgotErr }}

                div(ng-show="emailSended" ng-cloak)
                    .ui.success.message
                        .header
                            | Check your email.
                        p
                            | We've sent an email to
                            b {{ forgotFormData.email }}.
                            |  Click the link in the email to reset your password.

                        p If you don't see the email, check other places it might be, like your junk, spam, social, or other folders.



            .actions
                button.ui.right.icon.button.primary(
                    form="forgotForm",
                    ng-class="forgotBtnLoading ? 'loading disabled' : '' ",
                    ng-show="!emailSended"
                )
                    | Submit

    block javascripts
        script(src="/angular/angular.min.js")
        script(src="/angular-route/angular-route.min.js")

        // ng-file-upload module
        script(src="/ng-file-upload/ng-file-upload-shim.min.js")
        script(src="/ng-file-upload/ng-file-upload.min.js")
        // ng-file-upload module ##

        // moment
        script(src='/moment/min/moment.min.js')
        script(src='/angular-moment/angular-moment.min.js')
        // moment ##

        // ng-image-gallery
        script(src="/angular-animate/angular-animate.min.js")
        script(src="/ng-image-gallery/dist/ng-image-gallery.min.js")
        // ng-image-gallery ##

        // ng-wig
        script(src="/ngWig/dist/ng-wig.min.js")

        // angular-sanitize
        script(src="/angular-sanitize/angular-sanitize.min.js")

        script(src="/dist/js/app/main.min.js")
        script(src="/jquery/dist/jquery.min.js")

        // Factory
        script(src="/dist/js/app/services/profile/myMessageFactory.min.js")
        script(src="/dist/js/app/services/layoutFactory.min.js")

        // Controller
        script(src="/dist/js/app/controllers/layoutController.min.js")

        script(src="/semantic/dist/components/dimmer.min.js")
        script(src="/semantic/dist/components/modal.min.js")
        script(src="/semantic/dist/components/transition.min.js")
        script(src="/semantic/dist/components/form.min.js")
        script(src="/semantic/dist/components/sidebar.min.js")
