extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/input.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/checkbox.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/table.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/step.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/loader.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/message.min.css')
    link(rel='stylesheet', type='text/css', href='/dist/css/newAdPage.css')
    link(rel='stylesheet', type='text/css', href='/ngWig/dist/css/ng-wig.min.css')


block content
    div(ng-controller="newAdController")
        div(ng-if="!adSaveComplete", ng-cloak)

            .ui.steps.fluid(class="margin-bottom-30")
                a.step(ng-class="steps.informations ? 'active': 'disabled' " ng-cloak)
                    i.info.icon
                    .content
                        .title Ad Information
                        .description Please enter your ad informations.

                a.step(ng-class="steps.power ? 'active': 'disabled' " ng-cloak)
                    i.rocket.icon
                    .content
                        .title Buy Power
                        .description Your ad is in the top row.

                a.step.disabled(ng-class="steps.preview ? 'active':'disabled' " ng-cloak)
                    i.unhide.icon
                    .content
                        .title Preview
                        .description Your ad will look like this.

            .ui.segment.no-segment.test
                .ui.dimmer(ng-class="loadingBufferData ? 'active': ''")
                    .ui.text.loader Loading

                div#adInformation(ng-show="steps.informations", ng-cloak)
                    form.ui.form.fluid#newAdForm(ng-init="init('#{ id }')")
                        input(type='hidden', name='Content-Type', value='')
                        input(type='hidden', name='Content-Type', ng-init="url= '#{ formdata.url }' ", ng-model="url")
                        input(type='hidden', name='acl', ng-model="acl", ng-init="acl= '#{ formdata.inputs.acl }'")
                        input(type='hidden', name='success_action_status', ng-model="success_action_status", ng-init="success_action_status= '#{ formdata.inputs.success_action_status }'" )
                        input(type='hidden', name='policy', ng-model="policy", ng-init="policy = '#{ formdata.inputs.policy }'")
                        input(type='hidden', name='X-amz-credential', ng-model="x_amz_credential", ng-init="x_amz_credential= '#{ formdata.inputs['X-amz-credential'] }'")
                        input(type='hidden', name='X-amz-algorithm', ng-model="X_amz_algorithm", ng-init="X_amz_algorithm = '#{ formdata.inputs['X-amz-algorithm'] }'")
                        input(type='hidden', name='X-amz-date', ng-model="X_amz_date", ng-init="X_amz_date = '#{ formdata.inputs['X-amz-date'] }'")
                        input(type='hidden', name='X-amz-expires', ng-model="X_amz_expires", ng-init="X_amz_expires = '#{ formdata.inputs['X-amz-expires'] }'")
                        input(type='hidden', name='X-amz-signature', ng-model="X_amz_signature", ng-init="X_amz_signature = '#{ formdata.inputs['X-amz-signature'] }'")

                        .fields.two
                            .field.wide.twelve
                                label Title
                                input(name='title', placeholder='Title',  ng-model="newAdForm.title")
                            .field.wide.four
                                label Price
                                .ui.right.labeled.input
                                    input(type='text', name="price", placeholder='Price', ng-model="newAdForm.price")
                                    .ui.basic.label
                                        | USD
                        .field
                            label Description
                            ng-wig(
                                name='description',
                                ng-model='newAdForm.description'
                            )

                        .five.fields(country-and-category-dropdowns)

                        .ui.tiny.stacked.segment
                            .text-center
                                .ui.labeled.button(tabindex='0', ng-click='triggerUploadWindow()')
                                    .ui.button
                                        i.upload.icon
                                        |  Upload Photos
                                    a.ui.basic.label
                                        | {{ newAdForm.files.length > 0 ? newAdForm.files.length : '0'  }}
                                input(
                                    type='file',
                                    style="width:30%"
                                    ngf-select='onPhotoSelect()',
                                    ng-model='newAdForm.files',
                                    name='photos',
                                    class='hidden'
                                    ngf-pattern="'image/*'",
                                    ngf-accept="'image/*'",
                                    ngf-max-size='4MB',
                                    ngf-multiple='true',
                                    ngf-keep='true',
                                    ngf-keep-distinct='true',
                                    ngf-max-files="10",
                                    ngf-model-invalid="invalidFiles",
                                    ngf-resize="{ quality: .7 }"
                                )

                            .clearfix &nbsp;
                            .ui.warning.message.margin-bottom-30(ng-show="invalidFiles.length > 0",style="display:block")
                                .header
                                    | Photos may be a maximum of 4MB.

                            .ui.four.stackable.cards
                                .card.photoList(ng-repeat='f in newAdForm.files')
                                    .image.photoListImage
                                        a.ui.left.corner.label(ng-if="f.showcase", ng-cloak)
                                            i.bookmark.icon
                                        img(
                                            ngf-thumbnail="f.filename ? '#{ amazon_base_url }/{{f.filename}}': f ",
                                            ngf-size="{width:200, height:200, quality:0.6}",
                                            ng-src="img/spinner.gif",
                                            class="upload-photo-thumb"
                                        )

                                        span.progress(ng-hide="f.progressFinish", ng-if="f.progress >= 0")
                                            div(style='width:{{f.progress}}%', ng-bind="f.progress + '%'")


                                    .ui.bottom.attached.button.noRadius(
                                        ng-click="onDeletePhoto($index)",
                                        ng-if="f.showcase",
                                        ng-cloak
                                    )
                                        i.remove.icon
                                        |  Remove


                                    .ui.two.buttons(ng-if="!f.showcase", ng-cloak)
                                        .ui.bottom.attached.button.noRadius(ng-click="onDeletePhoto($index)")
                                            i.remove.icon.margin-auto
                                        .ui.bottom.attached.button.noRadius(ng-click="onSelectShowCase($index)")
                                            i.bookmark.icon.margin-auto


                                | {{errorMsg}}

                        .field.ui.segment
                            .ui.grid
                                .sixteen.wide.column
                                    .ui.checked.checkbox
                                        input.hidden(type='checkbox', checked="", tabindex='0', name='anotherContactChecked', ng-model='newAdForm.anotherContact.checked')
                                        label Use another person tel number and name
                                .sixteen.wide.column.no-padding-top#anotherContact(ng-if="newAdForm.anotherContact.checked",  ng-cloak)
                                    .fields.two
                                        .field.wide.eight
                                            input(name='anotherContactName', placeholder='Contact Name', ng-model='newAdForm.anotherContact.name')
                                        .field.wide.eight
                                            input(name='anotherContactPhone', placeholder='Contact Phone Number', ng-model='newAdForm.anotherContact.phone')


                        .ui.error.message
                        .backendErr.ui.red.message(ng-if="newAdErr", ng-cloak)
                            | {{ newAdErr }}

                        button.ui.right.floated.primary.button(
                                form="newAdForm",
                                ng-class="uploading ? 'loading disabled' : '' "
                            )
                            | Next

                        .clearfix


                div#powerTab(ng-show="steps.power", ng-cloak)
                    div.text-center
                        h1 Power Up!

                        div(ng-show="buyPowerStatus")
                            .ui.success.message
                                .header
                                    | You Bought Power

                        .ui.segment.no-segment(ng-show="!buyPowerStatus")
                            p
                                | For show your ad in the best place you can buy power.
                                br
                                | Each power price is 10 Euro
                            form.ui.form
                                .field.text-center
                                    select.powerNumber(
                                        style="width:50%; display:inline-block",
                                        name='powernumber',
                                        ng-model="powerNumber",
                                        ng-change="update(id);",
                                        ng-options="n for n in []  | range:1:101"
                                    )
                                        option(value='0') Please Select

                                    div.margin-top-10(ng-show="powerNumber > 0")
                                        h3 {{ powerNumber * 10 | number:2 }} EUR

                                    .clearfix
                                    button.ui.primary.button.margin-top-10#buttonCheckout Buy Power

                            .ui.dimmer(ng-class="{ active: buyPowerLoader }")
                                .ui.loader


                    div.padding-30
                        button.ui.right.floated.primary.button(ng-click="previewTab()")
                            | Next
                        button.ui.right.floated.secondary.button(ng-click="adInformationTab()")
                            | Back



                div#preview(ng-show="steps.preview", ng-cloak)
                    h2 {{ newAdForm.title }}
                    h3 {{ newAdForm.price | currency }}

                    .ui.four.stackable.cards
                        .card.photoList(ng-repeat='f in newAdForm.files')
                            .image.photoListImage
                                a.ui.left.corner.label(ng-if="f.showcase", ng-cloak)
                                    i.bookmark.icon
                                img(
                                ngf-thumbnail="f.filename ? '#{ amazon_base_url }/{{f.filename}}': f ",
                                ngf-size="{width:200, height:200, quality:0.6}",
                                ng-src="img/spinner.gif",
                                class="upload-photo-thumb"
                                )

                                span.progress(ng-hide="f.progressFinish", ng-if="f.progress >= 0")
                                    div(style='width:{{f.progress}}%', ng-bind="f.progress + '%'")

                    .ui.stackable.grid
                        .sixteen.wide.column
                            table.ui.definition.table
                                tbody
                                    tr
                                        td Location
                                        td
                                            | {{ countries[newAdForm.country].name }} /
                                            | {{ countries[newAdForm.country].cities[newAdForm.city].name }} /
                                            | {{ countries[newAdForm.country].cities[newAdForm.city].districts[newAdForm.district].name }}
                                    tr
                                        td Category
                                        td {{ categories[newAdForm.category].name }} / {{ categories[newAdForm.category].subCategories[newAdForm.categoryChild].name }}
                                    tr
                                        td Contact Name
                                        td
                                            span(ng-show="newAdForm.anotherContact.checked")
                                                | {{ newAdForm.anotherContact.name }}
                                            span(ng-hide="newAdForm.anotherContact.checked")
                                                | #{ user.name } #{ user.surname }

                    h3 Description
                    .ui.segment
                        p.description(ng-bind-html="newAdForm.description")

                    button.ui.right.floated.primary.button(ng-click="uploadAndSaveMongo('#{ id }')", ng-class="{loading:submitBtnLoading, disabled:uploading}")
                        | Save
                    button.ui.right.floated.secondary.button(ng-click="powerTab()", ng-class="{disabled:uploading}")
                        | Back

        div(ng-if="adSaveComplete", ng-cloak)
            div.text-center
                h1 Everything is ok!
                div.margin-bottom-30 Your ad will be published after it is approved
                a.ui.primary.button(href="./") Home



append javascripts
    script(src="/dist/js/app/services/categoriesFactory.min.js")
    script(src="/dist/js/app/services/countriesFactory.min.js")
    script(src="/dist/js/app/directives/countryAndCategoryDropdowns.min.js")
    script(src="https://checkout.stripe.com/checkout.js")
    script(src="/dist/js/app/stripe.min.js")
    script(src="/dist/js/app/filters/range.min.js")
    script(src="/js/app/controllers/newAdController.js")
    script(src="semantic/dist/components/checkbox.min.js")
