extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='dist/css/index.css')
    link(rel='stylesheet', type='text/css', href='dist/css/search.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/card.min.css')


block content
    .ui.main.container.subPage
        - if (data.length < 1)
            h2.text-center.padding-top-10 No results.
        - else
            h1.text-center.padding-bottom-10 #{ title }
            .ui.segment.list-segment.searchData
                .ui.grid.no-margin-bottom
                    .doubling.four.column.row
                        each ad in data
                            .column.margin-bottom-10
                                a.ui.fluid.card.adCard(href="/detail/#{ ad.slug }/#{ ad._id }")
                                    .image.cardListImage
                                        - if (ad.totalPower > 0)
                                            .ui.left.corner.orange.label
                                                .cardPowerNumber
                                                    | #{ ad.totalPower }
                                        - if (ad.photos !== null)
                                            img(ng-src='#{ amazon_base_url }/#{ ad.photos[ad.photoShowcaseIndex].filename }')
                                        - else
                                            img(ng-src='/img/no-photo.png')
                                    .content
                                        span #{ ad.title.substr(0, 26) }
                                        | #{ ad.title.length > 26 ? '...' : '' }


append javascripts
    script(src="dist/js/app/controllers/searchController.min.js")
