extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='dist/css/index.css')
    link(rel='stylesheet', type='text/css', href='dist/css/search.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/rating.min.css')


block content
    .ui.main.container.subPage(ng-controller="searchController", ng-init="init()")
        - if (data.length < 1)
            h2.text-center.padding-top-10 No results.
        - else
            form.ui.form.fluid(action="/search")
                div.gray-bg.padding-10
                    .two.fields
                        .field(
                            ng-init="place.formatted_address='#{ data[0].place.formatted_address }'"
                        )
                            label Location
                            input(g-places-autocomplete='', ng-model='place')
                            input(
                                name="location",
                                ng-show="false",
                                ng-init="placeLongName='#{ data[0].place.address_components[0].long_name }'",
                                ng-model='placeLongName'
                            )

                        .field
                            .two.fields(country-and-category-dropdowns)

                    .field.text-right
                        button.ui.button.primary(ng-class="indexAdsLoading ? 'loading disabled' : '' ")
                            | Search

                .field.margin-top-30
                    select.ui.dropdown.inline-block-select.float-right(onchange="this.form.submit()", name="sortWith")
                        option(selected disabled) Sort with
                        option(value="rate") Rate

            h1.text-center.padding-bottom-10 #{ title }

            .clearfix
            .ui.segment.list-segment.searchData
                .ui.grid.no-margin-bottom
                    .doubling.four.column.row
                        each ad in data
                            .column.margin-bottom-10
                                .ui.fluid.card.adCard
                                    a.image.cardListImage(href="/detail/#{ ad.slug }/#{ ad._id }")
                                        - if (ad.totalPower > 0)
                                            .ui.left.corner.orange.label
                                                .cardPowerNumber
                                                    | #{ ad.totalPower }
                                        - if (ad.photos !== null)
                                            img(ng-src='#{ amazon_base_url }/#{ ad.photos[ad.photoShowcaseIndex].filename }')
                                        - else
                                            img(ng-src='/img/no-photo.png')
                                    .content
                                        span #{ ad.title.substr(0, 26) } #{ ad.title.length > 26 ? '...' : '' }
                                        .meta #{ ad.category }
                                    - if (ad.rate)
                                        .extra.content
                                            .ui.star.rating(data-rating='#{ ad.rate }')

            .text-center
                button.ui.big.button.margin-auto(ng-click="showEvents(placeLongName)")
                    | #{i18n.__("Show events")} ({{ placeLongName }})


append javascripts
    script(src="/semantic/dist/components/rating.min.js")
    script(src="/dist/js/app/services/searchFactory.min.js")
    script(src="/dist/js/app/services/categoriesFactory.min.js")
    script(src="/dist/js/app/directives/countryAndCategoryDropdowns.min.js")
    script(src="/dist/js/app/controllers/searchController.min.js")
