extends layout

append stylesheets
    link(rel='stylesheet', type='text/css', href='dist/css/index.css')
    link(rel='stylesheet', type='text/css', href='dist/css/search.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/card.min.css')
    link(rel='stylesheet', type='text/css', href='semantic/dist/components/rating.min.css')


block content
    .ui.main.container.subPage(ng-controller="searchController", ng-init="init('#{ categoryId }')")
        form.ui.form.fluid(action="/search")
            div.gray-bg.padding-10
                .two.fields
                    .field(
                        ng-init="place.formatted_address='#{ location }'"
                    )
                        label Location
                        input(g-places-autocomplete='', ng-model='place')
                        input(
                            name="location",
                            ng-show="false",
                            ng-init="placeLongName='#{ location }'",
                            ng-model='placeLongName'
                        )

                    .field
                        .two.fields(country-and-category-dropdowns)

                .field.text-right
                    label.custom Open Now
                        - if (openNow)
                            input.customCheckbox(name='openNow', type='checkbox', checked)
                        - else
                            input.customCheckbox(name='openNow', type='checkbox')

                .field.text-right
                    button.ui.button.primary(ng-class="indexAdsLoading ? 'loading disabled' : '' ")
                        | Search

        - if (data.length > 0)

            .field.margin-top-30
                select.ui.dropdown.inline-block-select.float-right(onchange="this.form.submit()", name="sortWith")
                    option(selected disabled) Sort with
                    option(value="rate") Rate

            h1.text-center.padding-bottom-10 #{ title }
            .clearfix
            .ui.segment.list-segment.searchData
                .ui.grid.no-margin-bottom
                    .doubling.four.column.row
                        each ad in data
                            - if (!((!ad.workTimes.open || clockOpenClose) && openNow) )
                                .column.margin-bottom-10
                                    .ui.fluid.card.adCard
                                        a.image.cardListImage(href="/detail/#{ ad.slug }/#{ ad._id }")
                                            - if (ad.totalPower > 0)
                                                .ui.left.corner.orange.label
                                                    .cardPowerNumber
                                                        | #{ ad.totalPower }
                                            - if (ad.photos !== null)
                                                img(ng-src='#{ amazon_base_url }/#{ ad.photos[ad.photoShowcaseIndex].filename }')
                                            - else
                                                img(ng-src='/img/no-photo.png')
                                        .content
                                            span #{ ad.title.substr(0, 26) } #{ ad.title.length > 26 ? '...' : '' }
                                            .meta #{ ad.category }

                                            - var locationName = ad.place.fullPlaceName ? ad.place.fullPlaceName : ad.locationName
                                            .meta.margin-top-10
                                                i.map.marker.alternate.icon
                                                | #{ locationName.substr(0, 26) } #{ locationName.length > 26 ? '...' : '' }

                                        .extra.content
                                            div.right.floated(style="display:inline-block")
                                                - if (ad.openNow)
                                                    .ui.green.horizontal.label #{i18n.__("Open")}
                                                - else
                                                    .ui.horizontal.label #{i18n.__("Close")}

                                            - if (ad.rate)
                                                .ui.star.rating(data-rating='#{ ad.rate }')

        .text-center.margin-top-10
            button.ui.big.button.margin-auto(
                ng-click="showEvents(placeLongName)",
                ng-class="{loading: loadingEvents}",
                ng-if="!events"
            )
                | #{i18n.__("Show events")}

        div(ng-if="events.length > 0")
            h2 #{i18n.__( "Events" )}
            .ui.segment.list-segment
                .ui.grid.no-margin-bottom
                    .doubling.four.column.row
                        .column.margin-bottom-10(
                            ng-repeat="e in events",
                        )
                            a.ui.fluid.card.adCard(href="/events/detail/{{ e.event.slug }}/{{ e.event._id }}")
                                .image.cardListImage
                                    img(ng-src='#{ amazon_base_url }/{{ e.event.photos[e.event.photoShowcaseIndex].filename }}', ng-hide="e.event.photoShowcaseIndex === null")
                                    img(ng-src='/img/no-photo.png', , ng-show="e.event.photoShowcaseIndex === null")
                                .content
                                    span.black {{ e.event.title }}


append javascripts
    script(src="/semantic/dist/components/rating.min.js")
    script(src="/dist/js/app/services/searchFactory.min.js")
    script(src="/dist/js/app/services/categoriesFactory.min.js")
    script(src="/dist/js/app/directives/countryAndCategoryDropdowns.min.js")
    script(src="/dist/js/app/controllers/searchController.min.js")
