extends ../layout

append stylesheets
    link(rel='stylesheet', href='/semantic-ui-calendar/dist/calendar.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/segment.min.css')
    link(rel='stylesheet', type='text/css', href='/semantic/dist/components/loader.min.css')

block content
    div(ng-controller="adsController", ng-init="init()")

        button.ui.button.right.floated(ng-click="toggleAdvanceSearch()") Advance Search
        .clearfix
        div.ui.segment(ng-show="!advanceSearchVisible", ng-cloak)
            form.ui.form
                .three.fields
                    .field
                        label Email
                        input(name='email', ng-model="searchForm.email", placeholder='Email')
                    .field
                        label Start Date
                        .ui.calendar#startDate
                            .ui.input.left.icon
                                i.calendar.icon
                                input(placeholder='Start Date')

                    .field
                        label End Date
                        .ui.calendar#endDate
                            .ui.input.left.icon
                                i.calendar.icon
                                input(placeholder='End Date')

                button.ui.button.primary.right.floated(
                    ng-click="advanceSearch()",
                    ng-class="{ loading: loadingSearch, disabled: loadingSearch }") Search
                .clearfix


        .ui.segment.no-segment
            table.ui.table
                thead
                    tr
                        th Ad Title
                        th Name of Owner
                        th Created At
                        th Status
                        th Detail
                tbody
                    tr(
                        ng-repeat="ad in ads",
                        ng-class="{ warning: ad.status == 0,  negative: ad.status == 2 || ad.status == 4}"
                    )
                        td {{ ad.title }}
                        td {{ ad.user.name }} {{ ad.user.surname }}
                        td(am-time-ago='ad.createdAt')
                        td {{ ad.statusText }}
                        td.text-right
                            span(ng-show="ad.totalPower > 0")
                                i.icon.orange.rocket
                            a.ui.button.icon.mini(
                                href="ads/edit/{{ad._id}}"
                            )
                                i.edit.icon
            .ui.dimmer(ng-class="{active: loadingAds }")
                .ui.loader

append javascripts
    script(src='/semantic-ui-calendar/dist/calendar.min.js')
    script(src='/dist/js/admin/app/services/adsFactory.min.js')
    script(src='/dist/js/admin/app/controllers/adsController.min.js')
