extends layout

block content
    div(ng-controller="generalController")
        div
            .text-center
                .ui.button(
                    ngf-select='',
                    ng-model='file',
                    name='file',
                    ngf-pattern="'image/*'",
                    ngf-accept="'image/*'",
                    ngf-max-size='5MB',
                    ngf-min-height='100',
                    ngf-fix-orientation="true",
                    ngf-model-invalid="invalidFiles",
                ) Select

            .clearfix &nbsp;
            .ui.warning.message.margin-bottom-30(ng-show="invalidFiles.length > 0", style="display:block")
                .header
                    | #{ i18n.__("photo_size_limit") }

            .ui.grid.stackable
                .eight.wide.column
                    .cropArea(ngf-drop='', ng-model='file', ngf-pattern='image/*')
                        img-crop(image='file  | ngfDataUrl', result-image='croppedDataUrl', ng-init="croppedDataUrl=''")
                .eight.wide.column
                    img(ng-src='{{croppedDataUrl}}')


            span.progress-profile(ng-show="uploading", ng-if="progress >= 0")
                div(style='width:{{progress}}%', ng-bind="progress + '%'")


            | {{errorMsg}}


        .ui.error.message
        .backendErr.ui.red.message(ng-if="newAdErr", ng-cloak)
            | {{ newAdErr }}


append javascripts
    script(src='/dist/js/admin/app/controllers/generalController.min.js')
