extends layout

block content
    div(ng-controller="generalController")
        div
            h2 Header Image
            .ui.grid
                .four.wide.column
                    .text-center
                        .ui.button(
                            ngf-select='getUploadCredentials($file, $invalidFiles)',
                            name='file',
                            ngf-pattern="'image/*'",
                            ngf-accept="'image/*'",
                            ngf-max-size='5MB',
                            ngf-min-height='100',
                            ngf-fix-orientation="true",
                            ngf-model-invalid="invalidFiles",
                        ) Select
                .twelve.wide.column
                    img(src="{{ headerImage }}", style="height:200px")


            .clearfix &nbsp;
            div(style='font:smaller')
                | {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                span.progress(ng-show='f.progress >= 0')
                    div(style='width:{{f.progress}}%', ng-bind="f.progress + '%'")
            |   {{errorMsg}}



append javascripts
    script(src='/dist/js/admin/app/services/generalFactory.min.js')
    script(src='/dist/js/admin/app/controllers/generalController.min.js')
