.ui.modal.tiny#signUpModal
    i.close.icon
    .header
        | Sign Up
    .content
        .ui.grid.stackable.no-margin-bottom
            .eight.wide.column
                a.ui.facebook.button.fluid(href="/auth/facebook")
                    i.facebook.icon
                    |   #{i18n.__("Sign Up with Facebook")}
            .eight.wide.column
                a.ui.twitter.button.fluid(href="/auth/twitter")
                    i.twitter.icon
                    |   | #{i18n.__("Sign Up with Twitter")}
            .sixteen.wide.column
                a.ui.google.plus.button.fluid(href="/auth/google")
                    i.google.plus.icon
                    |   #{i18n.__("Sign Up with Google")}

        .ui.horizontal.divider
            |   #{i18n.__("Or")}

        div.text-center.margin-bottom-10
            a.profilePicture.text-center(href="#")
                span #{i18n.__("Change profile picture")}
                img.ui.tiny.circular.image(src="/img/square-image.png")

        form.ui.form#signUpForm
            .two.fields
                .field
                    //label Name
                    input(name='name', placeholder='#{i18n.__("Name")}', ng-model='signupForm.name')
                .field
                    //label Surname
                    input(name='surname', placeholder='#{i18n.__("Surname")}', ng-model='signupForm.surname')
            .two.fields
                .field
                    //label E-mail
                    input(name='email',  placeholder='#{i18n.__("E-mail")}', ng-model='signupForm.email', autocapitalize="none")
                .field
                    //label Phone Number
                    input(name='number', placeholder='#{i18n.__("Phone Number")}', ng-model="signupForm.phone")
            .two.fields
                .field
                    input(name='password', type='password', placeholder='#{i18n.__("Password")}', ng-model='signupForm.password')
                .field
                    input(name='passwordConfirm', type='password', placeholder='#{i18n.__("Confirm password")}', ng-model="signupForm.passwordConfirm")

            .g-recaptcha(
                vc-recaptcha,
                key="'#{ recaptcha_site_key }'",
                on-success="successSignUpCaptcha(response)"
            )
            .ui.error.message
            .backendErr.ui.red.message(ng-if="signUpErr")
                | {{ signUpErr }}


    .actions
        button.ui.left.floated.button(ng-click="openSignInModal()")
            | #{i18n.__("Login")}

        button.ui.right.icon.button.primary(
            form="signUpForm",
            ng-class="{ loading:registerBtnLoading, disabled: registerBtnLoading, disabled: !activeRegisterBtn  }"
        )
            | #{i18n.__("Sign Up")}
