.ui.modal.tiny#uploadProfilePictureModal
    i.close.icon
    .header
        | #{i18n.__("Upload Profile Picture")}
    .content
        form.ui.form.fluid#profilePhotoForm
            input(type='hidden', name='Content-Type', value='')
            input(type='hidden', name='Content-Type', ng-init="url= '#{ formdata.url }' ", ng-model="url")
            input(type='hidden', name='acl', ng-model="acl", ng-init="acl= '#{ formdata.inputs.acl }'")
            input(type='hidden', name='success_action_status', ng-model="success_action_status", ng-init="success_action_status= '#{ formdata.inputs.success_action_status }'" )
            input(type='hidden', name='policy', ng-model="policy", ng-init="policy = '#{ formdata.inputs.policy }'")
            input(type='hidden', name='X-amz-credential', ng-model="x_amz_credential", ng-init="x_amz_credential= '#{ formdata.inputs['X-amz-credential'] }'")
            input(type='hidden', name='X-amz-algorithm', ng-model="X_amz_algorithm", ng-init="X_amz_algorithm = '#{ formdata.inputs['X-amz-algorithm'] }'")
            input(type='hidden', name='X-amz-date', ng-model="X_amz_date", ng-init="X_amz_date = '#{ formdata.inputs['X-amz-date'] }'")
            input(type='hidden', name='X-amz-expires', ng-model="X_amz_expires", ng-init="X_amz_expires = '#{ formdata.inputs['X-amz-expires'] }'")
            input(type='hidden', name='X-amz-signature', ng-model="X_amz_signature", ng-init="X_amz_signature = '#{ formdata.inputs['X-amz-signature'] }'")

            div
                .text-center
                    .ui.button(tabindex='0', ng-click='triggerUploadWindow()')
                        i.upload.icon
                        |  #{ i18n.__("upload_photos") }
                    input(
                        type='file',
                        style="width:30%"
                        ngf-select='triggerUploadWindow()',
                        ng-model='profilePhotoForm.files',
                        name='photos',
                        class='hidden'
                        ngf-fix-orientation="true",
                        ngf-pattern="'image/*'",
                        ngf-accept="'image/*'",
                        ngf-max-size='4MB',
                        ngf-multiple='false',
                        ngf-keep='true',
                        ngf-keep-distinct='true',
                        ngf-model-invalid="invalidFiles",
                        ngf-resize="{ quality: 1 }"
                    )

                .clearfix &nbsp;
                .ui.warning.message.margin-bottom-30(ng-show="invalidFiles.length > 0",style="display:block")
                    .header
                        | #{ i18n.__("photo_size_limit") }


                .ui.grid.stackable
                    .eight.wide.column
                        .cropArea(ngf-drop='', ng-model='profilePhotoForm.files[0]', ngf-pattern='image/*')
                            img-crop(image='profilePhotoForm.files[0]  | ngfDataUrl', result-image='croppedDataUrl', ng-init="croppedDataUrl=''")
                    .eight.wide.column
                        img(ng-src='{{croppedDataUrl}}')


                span.progress-profile(ng-show="uploading", ng-if="progress >= 0")
                    div(style='width:{{progress}}%', ng-bind="progress + '%'")


                | {{errorMsg}}


            .ui.error.message
            .backendErr.ui.red.message(ng-if="newAdErr", ng-cloak)
                | {{ newAdErr }}

    .actions
        button.ui.right.icon.button.primary(
            ng-click="uploadAndSaveMongo(croppedDataUrl, profilePhotoForm.files[0].name)",
            ng-class="uploading ? 'loading disabled' : '' "
        )
            | Submit
