.ui.modal.small#workTimesModal
    i.close.icon
    .header
        | Work Times
    .content
        div(ng-show="!emailSended" ng-cloak)
            form.ui.form#workTimesForm
                .ui.grid
                    .row
                        .three.wide.column
                            strong Pazartesi
                        .four.wide.column
                            .ui.toggle.checkbox
                                input(type='checkbox', name='public', id="deneme")
                                label Kapalı

                        .nine.wide.column
                            .ui.grid
                                .eight.wide.column
                                    select()
                                        option(value='', disabled, selected) #{i18n.__("Open Time")}
                                .eight.wide.column
                                    select()
                                        option(value='', disabled, selected) #{i18n.__( "Close Time" )}


                .backendErr.ui.red.message(ng-if="subscribeErr")
                    | {{ subscribeErr }}

        div(ng-show="successSubscribe" ng-cloak)
            .ui.success.message
                .header
                    | #{i18n.__("thankyou")}
                p
                    | #{i18n.__("added_mail_description")}


    .actions
        button.ui.right.icon.button.primary(
            form="workTimesForm",
            ng-class="subscribeBtnLoading ? 'loading disabled' : '' "
        )
            | Submit
