.ui.modal.small#workTimesModal
    i.close.icon
    .header
        | Work Times
    .content
        div(ng-show="!emailSended" ng-cloak)
            form.ui.form#workTimesForm
                .ui.grid
                    .row
                        .three.wide.column
                            strong Pazartesi
                        .four.wide.column
                            .ui.toggle.checkbox.openClose
                                input(type='checkbox')
                                label #{i18n.__( "Open" )}

                        .nine.wide.column
                            .ui.grid.text-left
                                .six.wide.column.center
                                    .ui.checkbox
                                        input.hour24(type='checkbox')
                                        label #{i18n.__( "24 Hour" )}
                                .ten.wide.column.timeDropdowns
                                    .ui.grid.dropdowns
                                        .eight.wide.column
                                            select(ng-model='monday.openTime', ng-options='item for item in clocks')
                                                option(value='', disabled, selected) #{i18n.__("Open Time")}
                                        .eight.wide.column
                                            select(ng-model='monday.closeTime', ng-options='item for item in clocks')
                                                option(value='', disabled, selected) #{i18n.__("Close Time")}



                .backendErr.ui.red.message(ng-if="subscribeErr")
                    | {{ subscribeErr }}

        div(ng-show="successSubscribe" ng-cloak)
            .ui.success.message
                .header
                    | #{i18n.__("thankyou")}
                p
                    | #{i18n.__("added_mail_description")}


    .actions
        button.ui.right.icon.button.primary(
            form="workTimesForm",
            ng-class="subscribeBtnLoading ? 'loading disabled' : '' "
        )
            | Submit
